    /* Estilos generales */
body {
    font-family: 'Bangers';
    color: white;
}

.hero {
    background-color: #333; /* Gris oscuro */
    color: white;
}

h1, h2 {
    font-family: 'Bangers';
}


.btn-warning {
    background-color: #FFD700;
    border-color: #FFD700;
}

footer {
    background-color: #222;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .hero {
        background-size: cover;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #FFD700; /* Títulos en dorado */
}

p {
    color: #D3D3D3; /* Párrafos en gris claro */
}

.btn {
    background-color: #C00; /* Botones en rojo oscuro */
    color: white; /* Texto de los botones en blanco */
}

.card-body {
    color: #D3D3D3; /* Texto dentro de las cards en gris claro */
}

/* Fondo oscuro para las cards con texto claro */
.card {
    background-color: #333; /* Fondo oscuro */
    color: white;           /* Texto claro */
    border: 1px solid #444; /* Borde sutil */
}

/* Fondo más oscuro en el hover */
.card:hover {
    background-color: #444;
}

#galeria {
    background-color: #121212; /* Fondo oscuro */
}

.carousel-inner img {
    border-radius: 10px; /* Bordes redondeados en las imágenes */
    object-fit: cover;   /* Asegura que las imágenes cubran bien el contenedor */
}
